body {
  background: white;
  color: green;
  transition: background 1s ease-in-out, color 1s ease-in-out;
  margin: 300px;
}

body.light {
  
  background: white;
  color: green;
}

body.dark {
  background: green;
  color: white;
}